<div class="sidebar mt-3">
    <!-- Tiêu đề danh mục -->
    <div class="bg-primary text-white h5 rounded-top p-2">
        Danh mục sản phẩm
    </div>

    <!-- Danh mục -->
    <ul class="list-group rounded-0">
        <li class="list-group-item">Áo dài</li>
        <li class="list-group-item">Áo đông</li>
        <li class="list-group-item">Túi xách</li>
        <li class="list-group-item">Đồng hồ</li>
        <li class="list-group-item">Ví da</li>
        <li class="list-group-item">Thắt lưng da</li>
        <li class="list-group-item">Tủ lạnh</li>
        <li class="list-group-item">Tivi</li>
        <li class="list-group-item">Quạt điện</li>
        <li class="list-group-item rounded-bottom">Lò sưởi</li>
    </ul>
</div>

<!-- Banner quảng cáo -->
<img class="img-fluid w-100 rounded mt-3" src="image/saler.jpg" alt="Banner" />
